<section class="m home-body-wealth">
<aside class="home-body-nav">
<table>
  <tbody><tr>
      <td class="home-body-nav-logo"><div class="type-icon-wealth-nowat"></div></td>
      <td class="home-body-nav-title-container"><span class="home-body-nav-title"><a data-click="{mod: 'content', act:'a'}" target="_blank" href="" class="roll-title">理财</a></span></td>
    </tr>
</tbody></table>
<span class="home-body-nav-desc">全面、多样的投资理财平台让理财如此轻松</span>
<a data-click="{mod: 'content', act:'a'}" target="_blank" href="/lccp">查看全部产品&gt;&gt;</a>
</aside>
<div class="home-body-result">
  <div class="home-body-item" style="padding-left: 20px;">
    <div class="home-body-item-header">
      <img alt="陆金所 - 稳盈-安e贷" src="" width="32" height="32">
      <span>
        <a data-click="{mod: 'content', act:'a'}" href="" target="_blank" title="陆金所 - 稳盈-安e贷">陆金所 - 稳盈-安e贷</a>
      </span>
    </div>
    <div class="home-body-item-main">
      <div class="home-body-item-main-left">
        <p>预计收益率（年化）</p>
        <span class="home-body-detail home-btn">
          <a data-click="{mod: 'content', act:'a'}" target="_blank" href="">查看详情</a>
        </span>
      </div>
      <div class="home-body-item-main-right">
        <span class="home-body-wealth-ratioInt">
          8
        </span>
        <span class="home-body-wealth-ratioPoint">
          .40
          <span>%</span>
        </span>
      </div>
    </div>
  </div>
  <div class="home-body-item">
    <div class="home-body-item-header">
      <img alt="陆金所 - 稳盈-安业贷" src="" width="32" height="32">
      <span>
        <a data-click="{mod: 'content', act:'a'}" href="" target="_blank" title="陆金所 - 稳盈-安业贷">陆金所 - 稳盈-安业贷</a>
      </span>
    </div>
    <div class="home-body-item-main">
      <div class="home-body-item-main-left">
        <p>预计收益率（年化）</p>
        <span class="home-body-detail home-btn">
          <a data-click="{mod: 'content', act:'a'}" target="_blank" href="">查看详情</a>
        </span>
      </div>
      <div class="home-body-item-main-right">
        <span class="home-body-wealth-ratioInt">
          7
        </span>
        <span class="home-body-wealth-ratioPoint">
          .30
          <span>%</span>
        </span>
      </div>
    </div>
  </div>
  <div class="home-body-item" style="padding-right:0">
    <div class="home-body-item-header">
      <img alt="国民信托 - 乐兴10号" src="" width="32" height="32">
      <span>
        <a data-click="{mod: 'content', act:'a'}" href="" target="_blank" title="国民信托 - 乐兴10号">国民信托 - 乐兴10号</a>
      </span>
    </div>
    <div class="home-body-item-main">
      <div class="home-body-item-main-left">
        <p>预计收益率（年化）</p>
        <span class="home-body-detail home-btn">
          <a data-click="{mod: 'content', act:'a'}" target="_blank" href="">查看详情</a>
        </span>
      </div>
      <div class="home-body-item-main-right">
        <span class="home-body-wealth-ratioInt">
          10
        </span>
        <span class="home-body-wealth-ratioPoint">
          .00
          <span>%</span>
        </span>
      </div>
    </div>
  </div>
</div>
</section>
